<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appender name="kzt" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>slf4j:%level - %msg %n</pattern>
        </encoder>
    </appender>
    <logger name="com.yujing" level="DEBUG"/>
    <root level="ERROR">
        <appender-ref ref="kzt"/>
    </root>
</configuration>
