<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yujing.medicine.mapper.PermissionRoleMapper">

    <resultMap id="BaseResultMap" type="com.yujing.medicine.pojo.PermissionRole">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="deletedAt" column="deleted_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_name,status,
        is_deleted,created_at,updated_at,
        deleted_at
    </sql>
<!--    <select id="selectAllRoleByUserName" resultType="com.yujing.medicine.pojo.PermissionRole">-->

<!--    </select>-->
    <select id="getAllRoleListByUserName" resultType="com.yujing.medicine.pojo.PermissionRole">
        SELECT t1.* FROM permission_role t1
                             LEFT JOIN permission_user_role t2 ON t1.id = t2.role_id
                             LEFT JOIN permission_user t3 ON t2.user_id = t3.id
        WHERE t3.id =#{userName}
    </select>
    <select id="getRoleNameById" resultType="com.yujing.medicine.pojo.PermissionRole">
        select role_name from permission_role where id =#{roleId}
    </select>
</mapper>
